/*reglas: son lo que contiene lo de abajo
selectores: son lo que identifica elementos exclusivos de HTML (sea 1 o n)
declaraciones: es la forma de declarar un selector 
propiedades: es, dentro del selector, lo que se va a trabajar
valores*/
header{
	background: #FFFFFF;
	color: black;
}
/*selector de etiqueta header--section--article--and so on */
body {
	background: #FFFFFF ;
	font-family: 'JetBrains Mono';
}
/*selector descendente body header dir nav ol li a{}*/
/*selector de clase(.) .portafolio*/
/*selector de id #portafolio*/
h1{
	font-size: 40px;
	line-height: 150%;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: underline;
}