/*reglas: son lo que contiene lo de abajo
selectores: son lo que identifica elementos exclusivos de HTML (sea 1 o n)
declaraciones: es la forma de declarar un selector 
propiedades: es, dentro del selector, lo que se va a trabajar
valores*/
header{
	background: #FFFFFF;
	color: black;
}
/*selector de etiqueta header--section--article--and so on */
body {
	background: #FFFFFF ;
	font-family: 'JetBrains Mono';
} 
/*selector descendente body header dir nav ol li a{}*/
/*selector de clase(.) .portafolio*/
/*selector de id #portafolio*/
h1{
	font-size: 40px;
	line-height: 130%;
	color: white;
	/*letter-spacing: px;*/
	/*text-transform: uppercase;
	 */
	}
/* gris oscuro = #1d252c /
/ gris claro = #626262 /
/ background gris = #1b2127 */
/* celeste = #026fff */
h1 strong {
	color:#026fff;
}
.hero{
	height: 300px;
	background-image: url('../images/hero.jpg');
	background-color: #1b2127;
	background-size: 400px 300px;
	background-repeat: no-repeat;
	background-position-x: right;
}
.project-details{
	width: 500px;
	height: 200px;
}
.header{
	background-color: #1b2127;
	color: white;
}
.header a{
	color: white;
	text-decoration: none;
}
