/*reglas: son lo que contiene lo de abajo
selectores: son lo que identifica elementos exclusivos de HTML (sea 1 o n)
declaraciones: es la forma de declarar un selector 
propiedades: es, dentro del selector, lo que se va a trabajar
valores*/
header{
	background: #ffffff;
	color: black;

		
}

/*selector de etiqueta header--section--article--and so on */
body {
	background: #ffffff ;
	font-family: 'JetBrains Mono';
	margin:0;
	
} 
/*selector descendente body header dir nav ol li a{}*/
/*selector de clase(.) .portafolio*/
/*selector de id #portafolio*/
h1{
	font-size: 40px;
	line-height: 130%;
	color: white;
	margin : 0;
	
	
	/*letter-spacing: px;*/
	/*text-transform: uppercase;
	 */
	}
/* gris oscuro = #1d252c /
/ gris claro = #626262 /
/ background gris = #1b2127 */
/* celeste = #026fff */
h1 strong {
	color:#026fff;
}
h2{
	margin-bottom: 10px;
	color:#026fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size:20px;
	text-transform: u
}

.hero{
	height: 220px;
	/*background-image: url('../images/hero.jpg');*/
	background-color: #1b2127;
	background-size: 400px 300px;
	background-repeat: no-repeat;
	background-position-x: right;
	

}
.hero h1{
	text-align: center;
	

}
.project{
	/*border-top:10px solid red;
	border-right:10px solid green;
	border-left:10px solid blue;
	border-bottom:10px solid yellow;*/
	margin-bottom: 15px;
	margin:10px; 
	padding: 20px;
	background:white;

}
.project-details{
	width: 500px;
	height: 200px;
}
.header{
	background-color: #1b2127;
	color: white;
	display: flex;
	justify-content: center;
	height: 65px;

}

.header a{
	color: white;
	text-decoration: none;
	align-items: center;
	display: flex;
	height: inherit;	
		
}
.menu{
	height: inherit;
}
.header ol {
	height: inherit;
	display: flex;
}
.header ol li{
	height: inherit;
	
}
.header li{
	margin-left: 30px;
}
ol,ul{
	margin:0;
	padding:0;
	list-style: none;
}
figure{
	margin:0;
}

.experiencia{
	margin-top: 0; 
}
.portfolio{
	margin:0px 10px;
	background:#ffffff;
	padding: 20px;
}
.portfolio a{
	color: black;
}
.h2P{
	margin:10px 10px;
	padding: 20px;
}
.projectTitle{
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 0px;
}
.project-date,.project-course,.project-url{
	margin:10px 0px;
	font-size: 15px;
}
h6{
	
	font-size: 15px;
}
.experiencia{
	background-color: red;
}
.project-imageContainer{
	margin: 50px;
}
.everisDiv{
	margin: 50px;
}
.contacto{
	background-color: #056fff;
	color: white;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.enviarCorreo{

}




